body {
  font-size: 1em;
  line-height: 1.4;
  background: black;
  color: white;
  margin: 0;
  padding: 2em;
}


div {
  margin-bottom: 4em;
}


p {
  font-size: 1.2em;
  line-height: 1.4;
}


h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  color:rgba(0,255,255,0.5);
}

h1.forward {
  text-shadow: rgba(255,0,0,0.5) 4px 0px 0px; /* shift red shadow right (extrude) */
}

h1.backward {
  text-shadow: rgba(255,0,0,0.5) -4px 0px 0px; /* shift red shadow left (sink) */
}

h1.sinkandpop{
  -webkit-animation-name: sinkandpop;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .12s;
}

h1.grow{
  -webkit-animation-name: grow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .12s;
}


@-webkit-keyframes sinkandpop {
  from {
    text-shadow: rgba(255,0,0,0.5) 6px 0px 0px; /* shift red shadow right (extrude) */
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    text-shadow: rgba(255,0,0,0.5) -6px 0px 0px; /* shift red shadow left (sink) */
  }
  to {
    text-shadow: rgba(255,0,0,0.5) 6px 0px 0px; /* shift red shadow right (extrude) */
    -webkit-animation-timing-function: ease-out;
  }
}

@-webkit-keyframes grow {
  from { /* small and sunken */
    font-size: 4em; /* grow font */
    text-shadow: rgba(255,0,0,0.5) -6px 0px 0px; /* shift red shadow left (sink) */
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    font-size: 2em; /* shrink font */
    text-shadow: rgba(255,0,0,0.5) 6px 0px 0px; /* shift red shadow right (extrude) */
  }
  to {
    font-size: 4em; /* grow font */
    text-shadow: rgba(255,0,0,0.5) -6px 0px 0px; /* shift red shadow left (sink) */
    -webkit-animation-timing-function: ease-out;
  }
}