body {
  font-size: 1em;
  line-height: 1.4;
  background: black;
  color: #ddd;
  margin: 0;
  padding: 2em;
}


div.example {
  position: relative; /* Needed to overlap SVGs */
  height: 300px; /* Needed to avoid layout changes as text animates */
}


p {
  font-size: 1.2em;
  line-height: 1.4;
  font-family: 'Rambla', sans-serif;
}


h1 {
  margin: 0;
  padding: 0;
  font-size: 3em;
  color: rgba(0,255,255,0.5);
  font-family: 'Kavoon', cursive;
}

div.forward h1 {
  text-shadow: rgba(255,0,0,0.5) 4px 0px 0px; /* Shift red shadow right (extrude) */
}

div.backward h1 {
  text-shadow: rgba(255,0,0,0.5) -4px 0px 0px; /* Shift red shadow left (sink) */
}

div.sinkandpop h1 {
  -webkit-animation-name: textSinkandpop;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .12s;
}

div.grow h1 {
  -webkit-animation-name: textGrow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .12s;
}


@-webkit-keyframes textSinkandpop {
  from {
    text-shadow: rgba(255,0,0,0.5) 6px 0px 0px; /* Shift red shadow right (extrude) */
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    text-shadow: rgba(255,0,0,0.5) -6px 0px 0px; /* Shift red shadow left (sink) */
  }
  to {
    text-shadow: rgba(255,0,0,0.5) 6px 0px 0px; /* Shift red shadow right (extrude) */
    -webkit-animation-timing-function: ease-out;
  }
}

@-webkit-keyframes textGrow {
  from { /* Small and sunken */
    font-size: 4em; /* Grow font */
    text-shadow: rgba(255,0,0,0.5) -6px 0px 0px; /* Shift red shadow left (sink) */
    -webkit-animation-timing-function: ease-out;
  }
  50% {
    font-size: 2em; /* Shrink font */
    text-shadow: rgba(255,0,0,0.5) 6px 0px 0px; /* Shift red shadow right (extrude) */
  }
  to {
    font-size: 4em; /* Grow font */
    text-shadow: rgba(255,0,0,0.5) -6px 0px 0px; /* Shift red shadow left (sink) */
    -webkit-animation-timing-function: ease-out;
  }
}


svg {
  position: absolute;
}

div.forward svg.layer-red,
div.backward svg.layer-cyan {
  left: 10px;
}

svg.layer-cyan polygon {
  fill: rgba(0,255,255,0.5);
}

svg.layer-red polygon {
  fill: rgba(255,0,0,0.5);
}


div.container-layer {
  position: absolute;
}

div.container {
  width: 200px;
  height: 200px;
  float: left;
}
div.container figure {
  display: block;
  width: 55px;
  height: 55px;
  float: left;
  margin: 5px;
}

#cyan figure {
  background: rgba(0,255,255,0.5);
}
#red figure {
  background: rgba(255,0,0,0.5);
}

#cyan div.container {
  -webkit-perspective: 200px;
}
#cyan div.container-left figure {
  -webkit-transform: rotateY( 45deg );
}
#cyan div.container-right figure {
  -webkit-transform: rotateY( -45deg );
}

#red div.container {
  -webkit-perspective: 100px;
}
#red div.container-left figure {
  -webkit-transform: rotateY( 35deg );
}
#red div.container-right figure {
  -webkit-transform: rotateY( -35deg );
}

#red div.container-left {
  margin-left: -5px;
  margin-right: 10px;
}

